body{
    display: flex;
    flex-direction: column;
    background-color: rgb(76, 237, 184);
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: .1rem solid black;
    padding: 1.5rem;
    margin-bottom: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    margin-top: 1.5rem;
}
.seta{
    position: absolute;
    left: -0.5rem;
    height: 3rem;
}
.config{
    position: absolute;
    right: .5rem;
    height: 3rem;
}

.logo{
    display: flex;
    align-items: flex-start;
    font-size: 1.5rem;
    font-style: italic;
}

.digita_busca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}
.lupa{
    height: 3rem;
}
.digita_input{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.localidade{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.icones_localidade{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item_localidade{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.imagem_localidade{
    height: 5rem;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-top: .1rem solid black;
    margin-top:0;
    background-color: rgba(235, 167, 235, 1);
    position: fixed;
    bottom: 0;
    width: 100%;

}


.home{
    height: 3rem;
}
.search{
    height: 3rem;
}
.heart{
    height: 4.5rem;
}
.agenda{
    height: 3rem;
}
.plate{
    height: 4rem;
}