.item_logo {
    color: purple;
    font-size: 18px;
}

.item_return {
    width: 05rem;
    height: ;
}

.item_config {
    width: 1rem;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
}
.space-between {
    justify-content: space-between;
}

.tamanhomax {
    max-width: 2%;
    max-height: 2%;
}